@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    flex-direction: column;
    font-family: Roboto;
}

ul {
    list-style-type: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #E5E7EB;
    padding: 0px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 28px 5px 28px;
    border-radius: 8px;
    border-style: ridge;
    background-color: #3882F6;
    color: #E5E7EB;
    
}

.header {
    flex-direction: column;
    display: flex;
    padding-left: 50px;
    background-color: #1F2937;
    padding: 15px 500px 120px 500px;
}

.header.list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.header.logo {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 0px;
    color: #F9FAF8;
    font-size: 24px;
}

.header.links-list {
    flex-direction: row;
    display: flex;
    padding: 0px;
    gap: 30px;
    color: #E5E7EB;
}


.description {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
}

.description.text {
    flex-direction: column;
    display: flex;
    gap: 10px;
    text-align: left;
}

.headline {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
    padding-right: 500px;
}

.headline.subtext {
    padding-right: 580px;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.header.button {
    flex-direction: row;
    display: flex;
    margin: 0px;
    padding: 5px 28px 5px 28px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 15px;
}
.description.placeholder {
    display: flex;
    align-items: center;
    background-color: #9899A8;
    margin:0px;
    padding: 80px 200px 80px 200px;
}

.info {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
}

.info.header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info.list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    padding-bottom:80px;
    gap: 50px;
    text-align: center;
}

.quote {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 80px 400px 80px 400px;
    background-color: #E5E7EB;
}

.quote.text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    padding-bottom: 0px;
}

.quote.author {
    margin: 0px;
    padding: 0px;
    padding-left: 450px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.footer {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer.box {
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    margin: 80px 550px 80px 550px;
    padding: 50px 120px 50px 120px;
    background-color: #3882F6;
    align-items: center;
}

.footer.text {
    flex-direction: column;
    display: flex;
    margin: 0px;
}

.footer.heading {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #F9FAF8;
}

.footer.subtext {
    margin: 0px;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.footer.button {
    display: flex;
    margin: 0px;
    border-color: #F9FAF8;
    font-size: 15px;
}

.about {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1F2937;
    font-size: 15px;
    text-align: center;
    color: #F9FAF8;
}