body {
    margin: 0px;
    flex-direction: column;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #E5E7EB;
    padding: 0px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #3882F6;
    color: #E5E7EB;
    
}

.header {
    flex-direction: column;
    display: flex;
    padding-left: 50px;
    background-color: #1F2937;
    padding-top: 10px;
    padding-right: 550px;
    padding-left: 550px;
}

.header.list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.header.logo {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 0px;
    color: #F9FAF8;
    font-size: 24px;
}

.header.links-list {
    flex-direction: row;
    display: flex;
    padding: 0px;
    gap: 30px;
    color: #E5E7EB;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description.text {
    flex-direction: column;
    display: flex;
}

.headline {
    font-size: 48px;
    color: #F9FAF8;
}

.headline.subtext {
   font-size: 18px;
   font-weight: lighter;
   color: #E5E7EB;
}

.description.placeholder {
    background-color: #9899A8
}